<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ytt.sdktab"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="9"
        android:targetSdkVersion="15" />

    <permission android:name="com.nq.enterprise.sdk.permission" />

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.ytt.sdktab.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.ytt.sdktab.AppConfig" />
        <activity android:name="com.ytt.sdktab.FileEncryption" />
        <activity android:name="com.ytt.sdktab.StringEncryption" />
        <activity android:name="com.ytt.sdktab.DeviceInfo" />

        <receiver android:name="com.ytt.sdktab.configUpdateReceiver" >
            <intent-filter android:priority="1000" >
                <action android:name="com.nq.enterprise.sdk.appconfigupdate.com.ytt.sdktab" />
            </intent-filter>
        </receiver>
        <receiver android:name="com.ytt.sdktab.configUpdateReceiver" >
            <intent-filter android:priority="1000" >
                <action android:name="com.nq.enterprise.sdk.ssoconfigupdate.com.ytt.sdktab" />
            </intent-filter>
        </receiver>
    </application>

</manifest>